<!-- DDN-300 Web Design Project
	Jay Jellum Book Release Web site
	Created by Warren Peterson -->
<!--  -->
<!-- Home Page -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<title>Content of book</title>
<!-- Head Section -->
<head th:replace="layouts/head-section :: head-section"></head>
<link rel="stylesheet" type="text/css" href="/css/content.css">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<link rel="stylesheet" href="/css/style.css">
<script src="/js/javascript.js"></script>
<body>

<!-- Navbar (sit on top) -->
<div th:replace="layouts/home-navbar :: home-navbar"></div>
<!-- Top Section -->
<canvas id="heart"></canvas>
<!-- First Parallax Image with Logo Text -->
<!-- First Parallax Image with Logo Text -Large Screens-->
<div class="bgimg-1 w3-display-container w3-padding-64 " id="content" >
	<div class="ajm-1">
		<div class="w3-row w3-content">
    		<div class="w3-col m6 w3-center w3-padding-64">

      			<p style="color:black; font-weight:bold"><b></b></p>
      			<img src="https://i.imgur.com/0SeP3ql.png  "class="w3-round w3-image w3-responsive " alt="The Cradle Of Existence" width="222" height="74">
      			<br><br>

    		</div>

    		<!--  Hide this text on small devices -->
    		<div class="w3-col m6 w3-hide-small w3-padding-64 w3-padding w3-center" style="font-weight:bold">
    			<br>
    			<h1 class="w3-animate-opacity w3-center" style="color:black; font-weight:bolder; font-size:36px; overflow:visible">The Cradle Of Existence</h1>
    			<br><br>
      			<p class="w3-right-align w3-justify w3-hide-small" style="color:black; font-weight:bold">The Cradle of existence tells the story of a young man
      			who falls asleep and is giving a magical power in his sleep. The power to use a pencil to draw imagination into reality. Upon using these rare
      			gifts, the child attracts the attention of the most dangerous beings in the multiverse. This ignites a struggle between good and evil where the
      			very nature of existence is at stake. Who wins in this epic battle of good vs. evil? Purchase today to find out how the story ends. </p>
      			<br><h1 class="w3-center w3-text-black w3-xlarge" style="font-weight:bold">Buy The Book</h1><br>
      			<a style="z-index:1;color:black;float:left" href="https://www.amazon.com/s?k=The+Cradle+of+Existence&crid=1KZYE6MO0VOM4&sprefix=the+cradle+of+existence%2Caps%2C159&ref=nb_sb_noss_2"><button class="w3-gold w3-text-black w3-hover-black" >Coming Soon..</button></a>
      			<a style="z-index:1;color:black;float:center" href="https://www.amazon.com/s?k=The+Cradle+of+Existence&crid=1KZYE6MO0VOM4&sprefix=the+cradle+of+existence%2Caps%2C159&ref=nb_sb_noss_2"><button class="w3-gold w3-text-black w3-hover-black">Coming Soon..</button></a>
      			<a style="z-index:1;color:black;float:right" href="https://www.amazon.com/s?k=The+Cradle+of+Existence&crid=1KZYE6MO0VOM4&sprefix=the+cradle+of+existence%2Caps%2C159&ref=nb_sb_noss_2"><button class="w3-gold w3-text-black w3-hover-black">Coming Soon..</button></a>
      			<br><br><h1 class="w3-center w3-text-black w3-xlarge" style="font-weight:bold; float:left;">Bonus Materials</h1><br><br>
      			<a style="z-index:1;color:black;float:left" href="#content"><button class="w3-gold w3-text-black w3-hover-black">Coming Soon..</button></a><br><br>
      			<a style="z-index:1;color:black;float:left" href="#content"><button class="w3-gold w3-text-black w3-hover-black">Coming Soon..</button></a><br><br>
      			<a style="z-index:1;color:black;float:left" href="content"><button class="w3-gold w3-text-black w3-hover-black">Coming Soon..</button></a><br><br>
    		</div>
  		</div>
	</div>
</div>


<!-- Container (About Section) -->
<!-- <div class="w3-content w3-container w3-padding-64 " id="about">
  <h3 class="w3-center"style="background:black; color:white; font:bold; font-size:36px" >ABOUT OUR SOLUTION</h3>
  <p class="w3-center" style="color:black; font-weight:bold"><em>We love helping companies with their orders</em></p>
  <p style="color:black">We have created a one stop solution that provides everything you need to manage today's eCommerce orders. If you have a company and are looking for the perfect
  	way to manage your orders, we can help! Our solution allows you to input all of the customer orders and easily manage them. You can search through the products, the orders
  	and quickly process those order in an efficient way. Try out our order management solution today.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p style="color:black; font-weight:bold"><b><i class="fa fa-user w3-margin-right"></i>CEO Warren Peterson</b></p><br>
      <img src="https://scontent.fhio2-2.fna.fbcdn.net/v/t31.18172-8/21125545_10155061507233668_1883906338078193273_o.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=8eGcQyYXkxoAX_x-uRW&_nc_ht=scontent.fhio2-2.fna&oh=00_AT9Ks0pcLNyYRm1iKZQMd4_20UiThZ2R2cyZtuTkxr1PPg&oe=621BABE6" 
      class="w3-round w3-image " alt="Photo of Me" width="222" height="74">
    </div>

    Hide this text on small devices
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p style="color:black">Our simple Dashboard allows for order management so easy, its like waving a magic wand</p>
    </div>
  </div>
  <p class="w3-large w3-center w3-padding-16" style="color:black; font-weight:bold">Our Solution:</p>
  <p class="w3-wide" style="color:black; font-weight:bold"><i class="fa fa-camera"></i>On Time Deliveries:</p>
  <div class="w3-dark-grey">
    <div class="w3-container w3-padding-small w3-black w3-center" style="width:90%">90%</div>
  </div>
  <p class="w3-wide"style="color:black; font-weight:bold"><i class="fa fa-laptop"></i>Satisfied Customers:</p>
  <div class="w3-dark-grey">
    <div class="w3-container w3-padding-small w3-black w3-center" style="width:85%">85%</div>
  </div>
  <p class="w3-wide"style="color:black; font-weight:bold"><i class="fa fa-photo"></i>Profits Increased:</p>
  <div class="w3-dark-grey">
    <div class="w3-container w3-padding-small w3-black w3-center" style="width:75%">75%</div>
  </div>
</div>

<div class="w3-row w3-center w3-black w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">14+</span><br>
    Countries used in
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">55+</span><br>
    Fortune 500 Companies
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">89+</span><br>
    Happy Clients
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">1.5 million+</span><br>
    Orders Delivered with our solution
  </div>
</div> -->

<div class="w3-row w3-center w3-black w3-text-gold w3-padding-14 w3-hide-small" style="border-bottom: 3px solid w3-gold;border-top:3px solid w3-gold;" id="readmore">
  		<div class="w3-third w3-section">
    	<span class="w3-xlarge"></span><br>
  		</div>
  		<div class="w3-third w3-section">
    	<span class="w3-xxlarge" style="font-weight:bold">CONTENT</span><br>

  		</div>
  		<div class="w3-third w3-section">
    	<span class="w3-xlarge"></span><br>
  		</div>

</div>

<div class="w3-row w3-center w3-black w3-text-gold w3-hide-large w3-hide-medium" style="border-bottom: 3px solid gold;border-top:3px solid gold;">

  		<div class="w3-third w3-section">
    	<span class="w3-xxlarge w3-wide" style="font-weight:bold">CONTENT</span><br>

  		</div>


</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container ">
	<div class="ajc-2 w3-content w3-padding-64">
		<div class="w3-content w3-margin w3-row-padding w3-display-container">
			<p class="w3-center" style="color:white; font-weight:bold"><em>Here is some more info on the Book<br> Enjoy!</em></p><br>
			<p class="w3-justify" style="color:black; text-indent:5%; font-weight:bold"><em> Jay currently resides in Longview Washington with his wife and children.
			He has been writing for several years now and is on the precipice of his first published book. In his spare time he likes
			to play video games, read, and go on picnics with his family. </em></p><br>
			<p class="w3-justify" style="color:black; text-indent:5%; font-weight:bold"><em> Jay's biggest influences are Stephen King and Neil Gaimen. They are famous
			for their epic fantasy, horror and adventure stories. Their plots are known to be incredibly creative and leave the reader
			wanting for me. Jay's writing style is very similiar although more closely resembles Neil Gaimen. Jay of course adds to this
			with his own unique writing style and personality. Jay is famous for his sense of humor and creatively. He is also a fan of
			Lovecraft and his books often include creatures and entities that are like something out of a Lovecraft novel. He has even
			adopted the Lovecraft symbol and changed it slightly for the mock cover of his book "The Cradle of Existence". </em></p><br>
			<p class="w3-justify" style="color:black; text-indent:5%; font-weight:bold"><em> Eventually Jay's website is going to be for everything he writes
			and will all exist under the umbrella of this website. Currently the book that Jay is writing now is about a boy who is visited
			in his dreams and given a magical pencil that can create what he draws in the material world and an angel who recruits some damaged
			fellow to murder this character. The Baddie fights the main character and angels show up to pursuade him against his actions. 
			Eventually we learn what is truely at stake in this epic battle, the entire world! Find out how it ends and buy the book Today! </em></p><br>
			<p class="w3-justify" style="color:black; text-indent:5%; font-weight:bold"><em> This is just a small example of the writing in one of Jay's Books.
			This will be his magnum opus, his dark tower. The character that is going to be in all of the books is called the old one
			and there is a lot of back story. Basically something will happen to connect all the universes and certain gods of other mythos
			make it through to the different realms and reak havic with the different characters in the different books. They will al have
			different plot lines, but have some parallels that connect them altogether. </em></p><br>
			<p class="w3-justify" style="color:black; text-indent:5%; font-weight:bold"><em> We are all very excited about where this journey is headed
			and we would be pleased to have you join along for the ride. Jay is a good man, a good soul and we all look forward to watching
			him grow, learn and succeed along this journey. Thank you so much for visiting this page and helping to support us. Please feel
			free to reach out to Jay and let him know what you think. You, the fans, are everything and we love you! <3 </em></p><br>
			<p class="w3-justify w3-center" style="color:white;font-weight:bold "><em> Sincerely,  </em></p>
			<p class="w3-justify w3-center" style="color:white;text-indent:15%;font-weight:bold"><em> Jay Jellum </em></p><br>
		</div>
	</div>


  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-black w3-wide"style="color:black; font-weight:bold">  </span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<!-- <div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center">LIST OF CLIENTS</h3>
  <p class="w3-center" style="color:black"><em>Here are some of our current clients.<br> Click on the images to make them bigger</em></p><br>

  Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width)
  <div class="w3-row-padding w3-center">
    <div class="w3-col m3">
      <img src="https://1000logos.net/wp-content/uploads/2021/04/Foot-Locker-logo.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Foot Locker">
    </div>

    <div class="w3-col m3">
      <img src="https://mma.prnewswire.com/media/1481303/Full_Color_Zappos_Logo_01__2_Logo.jpg?p=facebook" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Zappos.com">
    </div>

    <div class="w3-col m3">
      <img src="https://media.bizj.us/view/img/931251/dsw-store-exteriorlarge*1024xx840-473-0-26.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Designer Shoe Warehouse">
    </div>

    <div class="w3-col m3">
      <img src="https://play-lh.googleusercontent.com/Tlh7cu1E8aeXQS7AOGrMR9IXKNWT_MEmkp09ONXxoRmef8XhN1aXs7kBsS6EABRxqVM" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="6pm shoes">
    </div>
  </div>

  <div class="w3-row-padding w3-center w3-section">
    <div class="w3-col m3">
      <img src="https://1000logos.net/wp-content/uploads/2017/06/emblem-Vans.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Vans">
    </div>

    <div class="w3-col m3">
      <img src="https://vectorlogoseek.com/wp-content/uploads/2019/02/skate-warehouse-vector-logo.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Skate Warehouse">
    </div>

    <div class="w3-col m3">
      <img src="https://blog.logomyway.com/wp-content/uploads/2020/11/nike-logo.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Nike">
    </div>

    <div class="w3-col m3">
      <img src="https://www.sk8clothing.com/UserFiles/Image/imgdir_2340/fallen_skate_logo.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Fallen Skate Company">
    </div>
    <button class="w3-button w3-padding-large w3-light-grey" style="margin-top:64px; border-style:solid; font-weight:bold">CLICK HERE TO JOIN</button>
  </div>
</div> -->

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<div class="w3-row w3-center w3-black w3-padding-14 " style="border-bottom: 75px solid black;">

</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-hide-small ">
  <div class="ajc-1" >
  		<br><br><br><br><br><br><br><br><br>
  		<div class="row w3-margin ">
  			<div class="w3-col m4" >
  				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  				
    			<div class="w3-card" style="margin: 32px; ">
      				
      				<div class="container1">
      					<img src="https://i.imgur.com/X16tJbU.jpg" alt="Home Page" style="width:100%">
        				<h2 class="w3-text-black" style="font-size:2.3vw; font-weight:bolder">Travel Home...</h2>
						<br>
				        <p class="w3-text-white">Abra Kadabra! You have magically transported back to the home page</p>
				        <p></p>
				        <p ><button onclick="location.href='/'" class="button w3-gold w3-text-black w3-hover-black" style="font-weight:bolder; font-size:1.2vw ">Home</button></p>
      				</div>
    			</div>
  			</div>
  			<div class="w3-col m4">
			    <div class="w3-card" style="margin: 32px ">
					
					<div class="container1">
						<img  src="https://i.imgur.com/WIUYXDe.jpg" alt="Contact Us" style="width:74.7%; display:block;margin-left:auto;margin-right:auto  ">
						<h2 class="w3-text-black" style="font-size:2.3vw; font-weight:bolder">Media Blitz</h2>
						<br>
				        <p class="w3-text-white">We want to hear your thoughts. Yes, all of them!</p>
				        <p></p>
				        <br>
				        <p ><button onclick="location.href='/contactus'" class="button w3-gold w3-text-black w3-hover-black" style="font-weight:bolder; font-size:1.2vw ">Contact Us</button></p>
				 	</div>
				</div>
			</div>
  			<div class="w3-col m4">
    			<div class="w3-card" style="margin: 32px">
      				
      				<div class="container1">
      					<img src="https://i.imgur.com/aXucWVl.png" alt="Other Works" style="width:50.3%; display:block;margin-left:auto;margin-right:auto  ">
        				<h2 class="w3-text-black" style="font-size:2.3vw; font-weight:bolder">Future Books...</h2>
						<br>
				        <p class="w3-text-white">Your future is not yet written, but you can check out a few possibilities</p>
				        <p></p>
				        <p ><button onclick="location.href='/otherworks'" class="button w3-gold w3-text-black w3-hover-black" style="font-weight:bolder; font-size:1.2vw ">Other Works</button></p>
        				<a class="next" onclick="plusSlides(1)">&#10095;</a>
      				</div>      				
    			</div>    			
  			</div>  			
		</div>
  		<div style="text-align:center">
  			<span class="dot" onclick="currentSlide(1)"></span>
  			<span class="dot" onclick="currentSlide(2)"></span>
  			<span class="dot" onclick="currentSlide(3)"></span>
		</div>
  	</div>
</div>

<!-- Third Parallax Image with Portfolio Text - Small Screens-->
<div class="bgimg-3 w3-display-container w3-hide-medium w3-hide-large " style="height:175%">
  	<div class="ajc-1" >
  		<br><br>
  		<div class="row w3-margin ">
  			<div class="w3-col m4" >
  				<a class="prev w3-hide-small" onclick="plusSlides(-1)">&#10094;</a>
  				
    			<div class="w3-card" style="margin: 32px; ">
      				
      				<div class="container1">
      					<img src="https://i.imgur.com/X16tJbU.jpg" alt="Home Page" style="width:100%">
        				<h2 class="w3-text-gold" style="font-size:32px; font-weight:bolder">Travel Home...</h2>
						<br>
				        <p class="w3-text-white">Abra Kadabra! You have magically transported back to the home page</p>
				        <p></p>
				        <p ><button onclick="location.href='/'" class="button w3-gold w3-text-black w3-hover-black" style="font-weight:bolder; font-size:28px ">Home</button></p>
      				</div>
    			</div>
  			</div>
  			<div class="w3-col m4">
			    <div class="w3-card" style="margin: 32px ">
					
					<div class="container1">
						<img  src="https://i.imgur.com/WIUYXDe.jpg" alt="Contact Us" style="width:74.7%; display:block;margin-left:auto;margin-right:auto  ">
						<h2 class="w3-text-gold" style="font-size:32px; font-weight:bolder">Media Blitz</h2>
						<br>
				        <p class="w3-text-white">We want to hear your thoughts. Yes, all of them!</p>
				        <p></p>
				        <br>
				        <p ><button onclick="location.href='/contactus'" class="button w3-gold w3-text-black w3-hover-black" style="font-weight:bolder; font-size:28px ">Contact Us</button></p>
				 	</div>
				</div>
			</div>
  			<div class="w3-col m4">
    			<div class="w3-card" style="margin: 32px">
      				
      				<div class="container1">
      					<img src="https://i.imgur.com/aXucWVl.png" alt="Other Works" style="width:50.3%; display:block;margin-left:auto;margin-right:auto  ">
        				<h2 class="w3-text-gold" style="font-size:32px; font-weight:bolder">Future Books...</h2>
						<br>
				        <p class="w3-text-white">Your future is not yet written, but you can check out a few possibilities</p>
				        <p></p>
				        <p ><button onclick="location.href='/otherworks'" class="button w3-gold w3-text-black w3-hover-black" style="font-weight:bolder; font-size:28px ">Other Works</button></p>
        				<a class="next w3-hide-small" onclick="plusSlides(1)">&#10095;</a>
      				</div>      				
    			</div>    			
  			</div>  			
		</div>
  		<div style="text-align:center">
  			<span class="dot" onclick="currentSlide(1)"></span>
  			<span class="dot" onclick="currentSlide(2)"></span>
  			<span class="dot" onclick="currentSlide(3)"></span>
		</div>
  	</div>
</div>

<!-- Container (Contact Section) -->
<!-- <div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">THIS IS A GCU PROJECT</h3>
  <p class="w3-center" style="color:black"><em>We don't actually want your feedback!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img src="https://w3schools.com/w3images/map.jpg" class="w3-image w3-round" style="width:100%">
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phoenix, AZ<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +1 555 5455 8588<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: WarrenPeterson141414@Gmail.com<br>
      </div>
      <p style="color:black"> <i class="fa fa-coffee"></i> feel free to leave us a note:</p>
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
        <button class="w3-button w3-black w3-right w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div> -->

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off" style="border-top:3px solid white;">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Back to Top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.linkedin.com/in/warrenpetersonbacs/" title="W3.CSS" target="_blank" class="w3-hover-text-green">Warren</a></p>
</footer>
 
<script>

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-black";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("heart").style.top = "100%";
  } else {
    document.getElementById("heart").style.top = "-100%";
  }
  prevScrollpos = currentScrollPos;
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>