
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('https://i.imgur.com/WIUYXDe.jpg');
  height:100%;
  width:100%;
  margin-top: 50px;

}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("https://i.imgur.com/3RsCVIP.png");
  min-height: 200%;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("https://i.imgur.com/0eDVZbW.png");
  min-height: 100%;
}

/* Container For Image Carousel */ 
.ajc-1{
	background-image: url("/images/more%20grey.png");
	height:100%;
	width:100%;
    background-size: 98% 92%;
	background-position: center;
	background-repeat:no-repeat;
}
/* Container For About Jay main image container*/
.ajm-1{
	background-image: url("https://i.imgur.com/NXZR5O4.png");
	height:100%;
	width:100%;
    background-size: 98% 92%;
	background-position: center;
	background-repeat:no-repeat;

	overflow:visible;
	left:0;
	right:0;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
