
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('https://media.istockphoto.com/photos/image-of-open-antique-book-on-wooden-table-with-glitter-overlay-picture-id873507500?b=1&k=20&m=873507500&s=170667a&w=0&h=jHslAXdeW5Ob6D9I0zyiLGChrluxKg2S35Z_SHS_Kfc=');
  height: 100%;
  width:100%;
}

/* Second image (Author) */
.bgimg-2 {
  background-image: url("https://i.imgur.com/VIy33Rh.jpg");
  height: 100%;
  width: 100%;
}
/* .bgimg-2 {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/001/670/825/large/etienne-beschet-the-land-of-ethereal-dreams.jpg?1453056910");
  min-height: 400px;
} */

/* Third image (Book) */
.bgimg-3 {
  background-image: url("https://i.imgur.com/aTEgaw8.jpg");
  height: 100%;
  width:100%;
}
/* .bgimg-3 {
  background-image: url("https://img.freepik.com/free-photo/sunset-background-featuring-sky-clouds_53876-108456.jpg?w=2000");
  min-height: 400px;
} */

/* Fourth image (Other works) */
.bgimg-4 {
	background-image: url("https://i.imgur.com/MvNx6qK.jpg");
	height:100%;
	width:100%;
}

/* Fifth image (Artwork) */
.bgimg-5{
	background-image: url("https://i.imgur.com/WIUYXDe.jpg");
	height:100%;
	width:100%;
}

/* Container One for Author section*/
.tpc-1{
	background-image: url("/images/Asset%20.png");
	height:100%;
	width:100%;
    background-size: 98% 92%;
	background-position: center;
	background-repeat:no-repeat;
	
}

/* Container Two for Book section*/
.tpc-2{
	background-image: url("/images/grey%20transparent.png");
	height:100%;
	width:100%;
    background-size: 98% 99%;
	background-position: center;
	background-repeat:no-repeat;
}

/* Container Three for other works section*/
.tpc-3{
	background-image: url("/images/grey%20transparent.png");
	height:100%;
	width:100%;
    background-size: 98% 99%;
	background-position: center;
	background-repeat:no-repeat;
}

/* Container Four for Artwork section */
.tpc-4{
	background-image: url("/images/more%20red.png");
	height:100%;
	width:100%;
    background-size: 98% 92%;
	background-position: center;
	background-repeat:no-repeat;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media only screen and (max-device-width: 1600px) {
  .tpc-1, .tpc-2, .tpc-3, .tpc-4, .tpc-5 {
    background-attachment: scroll;
    min-height: 400px;
    background-size: cover;
  }
}

.split {
  height: 80%;
  width: 50%;
  position: absolute;
  top: 0;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: transparent;
}

/* Control the right side */
.right {
  right: 0;
  background-color: transparent;
  height:80%;
  width:80%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-25%, -33%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150%;

}

.w3-vert {
  height: 75%;
  position: relative;
  text-align:center;
  margin-top:5%;
  margin-bottom:5%;
}

.w3-vert h1, .w3-vert p{
	margin-top:33%;
}

@media screen and (max-width:7000px){
	#bk1{
		position:absolute;
		left:5%; 
		top:0
	}
	#bk2{
		position:absolute;
		left:2%; 
		top:0
	}
	#bk3{
		position:absolute;
		left:2%; 
		top:0
	}
	#bk4{
		position:absolute;
		left:7%; 
		top:0
	}
	#otherworks1{
		max-width:95%; 
		display:block;
		margin:auto; 
		overflow:hidden; 
		margin-top:15%
	}
	#otherworks2{
		max-width:85%; 
		display:block;
		margin:auto; 
		overflow:hidden; 
		margin-top:15%
	}
	#otherworks3{
		max-width:95%; 
		display:block;
		margin:auto;
		overflow:hidden;
	}
	#otherworks4{
		max-width:81%; 
		display:block;
		margin:auto;
		overflow:hidden;
	}
}
@media screen and (max-width:3850px){
	#bk1{
		position:absolute;
		left:3%; 
		top:0
	}
	#bk2{
		position:absolute;
		left:5%; 
		top:0
	}
	#bk3{
		position:absolute;
		left:3%; 
		top:0
	}
	#bk4{
		position:absolute;
		left:10%; 
		top:0
	}
	#otherworks1{
		max-width:95%; 
		display:block;
		margin:auto; 
		overflow:hidden; 
		margin-top:15%
	}
	#otherworks2{
		max-width:85%; 
		display:block;
		margin:auto; 
		overflow:hidden; 
		margin-top:15%
	}
	#otherworks3{
		max-width:95%; 
		display:block;
		margin:auto;
		overflow:hidden;
	}
	#otherworks4{
		max-width:81%; 
		display:block;
		margin:auto;
		overflow:hidden;
	}
}
@media screen and (max-width:2640px){
	#bk1{
		position:absolute;
		left:2.3%; 
		top:0
	}
	#bk2{
		position:absolute;
		left:7.4%; 
		top:0
	}
	#bk3{
		position:absolute;
		left:2.5%; 
		top:0
	}
	#bk4{
		position:absolute;
		left:9.5%; 
		top:0
	}
	#otherworks1{
		max-width:95%; 
		display:block;
		margin:auto; 
		overflow:hidden; 
		margin-top:15%
	}
	#otherworks2{
		max-width:85%; 
		display:block;
		margin:auto; 
		overflow:hidden; 
		margin-top:15%
	}
	#otherworks3{
		max-width:95%; 
		display:block;
		margin:auto;
		overflow:hidden;
	}
	#otherworks4{
		max-width:81%; 
		display:block;
		margin:auto;
		overflow:hidden;
	}
}
@media screen and (max-width:1920px){
	#bk1{
		position:absolute;
		left:17.9%; 
		top:0
	}
	#bk2{
		position:absolute;
		left:21.4%; 
		top:0
	}
	#bk3{
		position:absolute;
		left:18.5%; 
		top:0
	}
	#bk4{
		position:absolute;
		left:23.3%; 
		top:0
	}
	#otherworks1{
		max-width:64%; 
		display:block;
		margin:auto; 
		overflow:hidden; 
		margin-top:15%
	}
	#otherworks2{
		max-width:57.5%; 
		display:block;
		margin:auto; 
		overflow:hidden; 
		margin-top:15%
	}
	#otherworks3{
		max-width:63%; 
		display:block;
		margin:auto;
		overflow:hidden;
	}
	#otherworks4{
		max-width:53.5%; 
		display:block;
		margin:auto;
		overflow:hidden;
	}
}
@media screen and (max-width:1440px){
	#bk1{
		position:absolute;
		left:17.9%; 
		top:0
	}
	#bk2{
		position:absolute;
		left:21.4%; 
		top:0
	}
	#bk3{
		position:absolute;
		left:18.5%; 
		top:0
	}
	#bk4{
		position:absolute;
		left:23.3%; 
		top:0
	}
	#otherworks1{
		max-width:64%; 
		display:block;
		margin:auto; 
		overflow:hidden; 
		margin-top:15%
	}
	#otherworks2{
		max-width:57.5%; 
		display:block;
		margin:auto; 
		overflow:hidden; 
		margin-top:15%
	}
	#otherworks3{
		max-width:63%; 
		display:block;
		margin:auto;
		overflow:hidden;
	}
	#otherworks4{
		max-width:53.5%; 
		display:block;
		margin:auto;
		overflow:hidden;
	}
}
@media screen and (max-width:1080px){
	#bk1{
		position:absolute;
		left:17.9%; 
		top:0
	}
	#bk2{
		position:absolute;
		left:21.4%; 
		top:0
	}
	#bk3{
		position:absolute;
		left:18.5%; 
		top:0
	}
	#bk4{
		position:absolute;
		left:23.3%; 
		top:0
	}
	#otherworks1{
		max-width:64%; 
		display:block;
		margin:auto; 
		overflow:hidden; 
		margin-top:15%
	}
	#otherworks2{
		max-width:57.5%; 
		display:block;
		margin:auto; 
		overflow:hidden; 
		margin-top:15%
	}
	#otherworks3{
		max-width:63%; 
		display:block;
		margin:auto;
		overflow:hidden;
		margin-top:15%;
	}
	#otherworks4{
		max-width:53.5%; 
		display:block;
		margin:auto;
		overflow:hidden;
		margin-top:15%;
	}
}
